@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$sbv-color: #1D60A8;
$sbv-color-secondary: #4298F5;
$white: #fff;
$light-grey: #dfdfdf;

$theme-colors: (
  "primary": $sbv-color
);
