<div class="container mt-5">
  <h1 class="text-center mb-md-5">
    <%= @survey.title %>
  </h1>

  <script>
    var Evaweb = {
      data: <%= raw @survey_statistics.to_json %>
    };
  </script>
  <div id="chart"></div>
</div>
