<div class="container mt-5">
  <h1 class="text-center mb-md-5">
    <%= @survey.title %>
  </h1>

  <script>
    let Evaweb = {};
    Evaweb.data = <%= raw @survey_statistics.export %>;
  </script>
  <div id="chart"></div>
</div>
